@import "./partials/variables";

// #sponsor_Bronze #name {
//     width: 150px;
//     border-radius: 0.75rem;
//     border: 1px solid #cd7f32;
//     color: #cd7f32;
// }

// #sponsor_Silver #name {
//     width: 150px;
//     border-radius: 0.75rem;
//     border: 1px solid #a5a9b4;
//     color: #a5a9b4;
// }

// #sponsor_Gold #name {
//     // width: 150px;
//     border-radius: 0.75rem;
//     // border: 1px solid #d4af37;
//     // color: #d4af37;
// }

.sponsorship_card {
    border-radius: 1rem !important;
    .sponsorship_name {
        min-width: 150px;
        max-width: 100%;
    }
}

#sponsor_Gold .sponsorship_name {
    border: 1px solid #d4af37;
    color: #d4af37;
}

#sponsor_Silver .sponsorship_name {
    border: 1px solid #a5a9b4;
    color: #a5a9b4;
}

#sponsor_Bronze .sponsorship_name {
    border: 1px solid #cd7f32;
    color: #cd7f32;
}

.jumbotron {
    background-color: $bnb-light;
}
.cart {
    background-color: $bnb-accent;
    color: $bnb-light;
    transition: 0.25s all ease-in-out;
    // border-radius: 0.75rem;
    border: none;
    &:hover {
        border: 1px solid $bnb-accent;
        background-color: $bnb-light;
        color: $bnb-accent;
        scale: 1.08;
    }
}
